<?xml version="1.0"?>
<config>
    <modules>
        <Wage_Reservation>
            <version>0.1.2</version>
        </Wage_Reservation>
    </modules>
    <global>
        <blocks>
            <reservation>
                <class>Wage_Reservation_Block</class>
            </reservation>
        </blocks>
        <helpers>
            <reservation>
                <class>Wage_Reservation_Helper</class>
            </reservation>
        </helpers>
        <models>
            <reservation>
                <class>Wage_Reservation_Model</class>
                <resourceModel>reservation_mysql4</resourceModel>
            </reservation>
            <reservation_mysql4>
                <class>Wage_Reservation_Model_Mysql4</class>
                <entities>
                    <reservation_order>
                        <table>reservation_order</table>
                    </reservation_order>
                    <reservation_order_item>
                        <table>reservation_order_item</table>
                    </reservation_order_item>
                </entities>
            </reservation_mysql4>
        </models>
        <resources>
            <reservation_setup>
                <setup>
                    <module>Wage_Reservation</module>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </reservation_setup>
            <reservation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reservation_write>
            <reservation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reservation_read>
        </resources>
        <template>
            <email>
                <reservation_email_email_template translate="label" module="reservation">
                    <label>Reservation Form</label>
                    <file>reservation.html</file>
                    <type>html</type>
                </reservation_email_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <reservation>
                                            <title>Reservation Setting</title>
                                        </reservation>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <reservation>
                <use>standard</use>
                <args>
                    <module>Wage_Reservation</module>
                    <frontName>reservation</frontName>
                </args>
            </reservation>
        </routers>
        <layout>
            <updates>
                <reservation>
                    <file>reservation.xml</file>
                </reservation>
            </updates>
        </layout>
    </frontend>
</config>
